.Meeting_container{
    //margin: 1.25rem auto;
    margin-top: 3rem auto;
    border-bottom: 2px solid;
    //height: 100%;
    // padding-bottom: 30px;
    // padding-top: 20px;
    width:100%;
    // height:100vh;
}

.video{
    width:300px;
    height:200px;
    margin: 1.5rem auto;
    padding-left: 10px;
    // border: 2px solid;
}
.shown_video{
    margin: 3rem auto;
    width: 80vh;
    height: 50vh;
    border: solid 3px;
}

.duration{
    color:black;
    margin: 2rem auto;
    background-color: #F0FFFF;
}
.speech{
    color: black;
    margin: 2rem auto;
    background-color: #F0FFFF;
}
.speech:hover{
    color:blue;
   
}
.meeting_log{
    cursor: pointer;
    margin-left: 0.5rem;
    // margin-top: 1rem;\
}
